
.one
{
  text-align: center;
  font-size: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width:40%;  
  float: left;  
}

.split {
  position: fixed;
  padding-top: 20px;
  padding-left: 30px;
  

 
}
.ll{
  display:none;
}
.leftControl
{
  left: 0;
  width: 20%;
  background-color: #424a4d;
  color: #f2f5f7;
  
}
/* Control the left side */
.left {
  height: 100vh;
  overflow: auto;
  
}

/* Control the right side */
.right {
  right: 0;
  width: 80%;
  padding-right: 40px;
  height: 100vh;
  overflow: auto;
 
}

.backFont{
  color: #424a4d;
}
.custom-table {
  width: 100%;
  border-collapse: collapse;
 
}
.custom-row{
  height:60px;
}
.custom-cell {
  width: 11.1%; /* Each cell takes approximately 11.1% of the table width */
  border: 1px solid #8a8787; /* Add a border for better visibility */
  padding: 8px;
  text-align: center;
}


.a {
  background-color: #FFC0CB;
}

.b {
  background-color:#FFA07A;
}

.c {
  background-color: #FFE4B5;
}

.d {
  background-color:  #f5c59e;
}

.e {
  background-color: #d2f1b8;
}

.f {
  background-color: #B0C4DE
}

.g {
  background-color: #90EE90;
}

.h {
  background-color: #E6E6FA
}

.i{
  background-color:#FAEBD7;
}


.j{

  background-color: #ddeba2;
}

.k{
  background-color: #FAF0E6;
  
}

.l{
  background-color:  #FFA500;
}

.footer {
  

  height: 80px;  
  position: fixed;
  right: 0;
  bottom: 0;
  width: 80%;
  background: rgb(241,217,216);
background: linear-gradient(360deg, rgba(241,217,216,1) 0%, rgba(224,224,226,0.9) 100%);
  color: white;
  text-align: center;
}
.imageSpec
{
  
  padding-right: 60px;
  float: right;  
  transform: scale(0.4);
}
.dummy{
  background-color: #e0e0e2;
}
